[alias]
    co = checkout
[core]
    excludesfile = /Users/jolson/.gitignore_global
[merge]
    tool = emerge
[pull]
    rebase = true
[user]
    name = Joshua Olson
    email = joshua.olson+github@gmail.com
