[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[branch]
    autosetupmerge = true
[color]
    diff = auto
    grep = auto
[core]
	editor = emacs
[diff]
    color = auto
    mnemonicprefix = true
[grep]
    lineNumber = true
[help]
    format = info
[merge]
    tool = emerge
[user]
    name = solarmist
    email = joshua.olson@gmail.com
