Applications*
nohup.out
build/*
bin/checker*
.coverage
*history
.CFUserTextEncoding
.pylint.d
.dia-etc
project*
.Rapp*
.fontconfig
com.*
Google Drive
.serverauth*
*.pyc
.DS_Store
.Trash/
.bash_history
.elinks
.cups/
.gitignore
.dropbox/
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.erc-auth
.emacs.d/.ercpass
.emacs.d/auto-save-list/
.emacs.d/ercrc.el
.emacs.d/extern/column-marker.el
.emacs.d/tramp
.gitconfig
.idlerc/
.ipython/
.macports/
.pip/
.sh_history
.ssh/id*
.ssh/known*
.subversion
.vim/.netrwhist
.vim/tmp/
.viminfo
.virtualenvs/
.zcompdump
.zprofile
.zsh_history
.*_history
.*pass
.gem
.anyconnect
.matlab/
*.lock
*histoqueries
.flexlmrc
.Xauthority
.emacs.desktop
.emacs.d/elpa
pgsql
*~
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
config_stuff/
sandbox/
.rstudio-desktop/
Parallels
.rvm
.erlang.cookie
