[user]
	name = Joshua Olson
	email = joshua.olson@gmail.com
[core]
	excludesfile = /Volumes/Yuki/solarmist/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Volumes/Backup OS/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = solarmist
	token = f4e04f624be2dfea87787bfdd7854ebb
