.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cups/
.gitignore
.dropbox/
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.erc-auth
.emacs.d/.ercpass
.emacs.d/auto-save-list/
.emacs.d/ercrc.el
.emacs.d/extern/column-marker.el
.emacs.d/tramp
.gitconfig
.idlerc/
.ipython/
.macports/
.pip/
.sh_history
.ssh
.subversion
.vim/.netrwhist
.vim/tmp/
.viminfo
.virtualenvs/
.zcompdump
.zprofile
.zsh_history
.*_history
.*pass
.gem
*~
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
config_stuff/
sandbox/